@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor0: #8E2424;
    --cor1: #571616;
    --cor2: #667085;
    --cor3: #3A404E;
    --cor4: #101828;
    --fonte0: 'Inter', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte0);
}

body {
    width: 100%;
    height: 100vh;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a{
    font: 500 18px var(--fonte0);
    text-decoration: none;
    color: var(--cor3);
}
.links {
    display: flex;
    list-style: none;
}

.links a {
    color: var(--cor2);
    text-decoration: none;
    margin-right: 2rem;
}

.links a:hover {
    color: var(--cor0);
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--cor2);
}

button#signUp {
    background-color: var(--cor0);
    color: #FFF;
    transition: .2s;
}

button#signUp:hover {
    background-color: var(--cor1);
}

/* CABEÇALHO */

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px;
}

.cabecalho h4 {
    font-weight: 600;
    font-size: 16px;
    color: var(--cor0);
}

.m-container h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
}

.m-content {
    width: 792px;
    text-align: center;
}

.m-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor2);
}

/* MÉTRICAS */



.metric-content {
    display: flex;
    justify-content: center;
    
}

.metric-itens {
    width: 280px;
}

.metric-itens .number-text .number {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--cor0);
}

.metric-itens .number-text .text h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--cor4);
}

.metric-itens .number-text .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor2);
}